<!DOCTYPE html>
<html>
<head>
    <%- include('header.ejs') %>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
    <script src="../dist/epub.js"></script>

</head>
<body>

<div id="area"></div>


<script>
    var book = ePub("https://s3.amazonaws.com/moby-dick/moby-dick.epub");
    var rendition = book.renderTo("area", {width: 600, height: 400});
    var displayed = rendition.display();

    EPUBJS.Hooks.register("beforeChapterDisplay").pageTurns = function (callback, renderer) {
        var lock = false;
        var arrowKeys = function (e) {
            e.preventDefault();
            if (lock) return;

            if (e.keyCode == 37) {
                ePubViewer.Book.prevPage();
                lock = true;
                setTimeout(function () {
                    lock = false;
                }, 100);
                return false;
            }

            if (e.keyCode == 39) {
                ePubViewer.Book.nextPage();
                lock = true;
                setTimeout(function () {
                    lock = false;
                }, 100);
                return false;
            }

        };
        renderer.doc.addEventListener('keydown', arrowKeys, false);
        if (callback) callback();
    }

    const width = 600;
    const height = 400;

    book.generatePagination().then(function () {
        console.log("The pagination has been generated");
    });

    book.generatePagination(width, height).then(function () {
        console.log("The pagination has been generated");
    });
    book.pagination.pageFromCfi(book.getCurrentLocationCfi());
</script>


<%- include('footer.ejs') %>
</body>
</html>